body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  h2 {
    text-shadow: 1px 1px;
  }

  h5 {
    align-content:center;
  }

  .navbar-brand {
    font-size: 30px;
  }

  main {
    flex: 1 0 auto;
  }

  .list-group {
    border: 2px solid black;
    padding: 10px;
  }

  .list-item {
    margin-left: 10px;
  }

  footer {
    height: 50px;
    padding-top: 15px;
    background: black;
    color: white;
    text-align: center;
  }

  .card {
    border: 1px solid black;
  }

  .link {
    color: black;
    font-size: 18px;
    font-weight:bold;
  }

  #description {
    font-size:16px;
  }

  .form {
    text-align: justify;
  }

  #statute {
    align-content: center;
  }